<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Projects List</h1>
        <ul>
<% projects.forEach(project => { %>
    <li class="project-card">
        <h2><%= project.title %></h2>
        <p><strong>Project Name:</strong> <%= project.project_name %></p>
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Students:</strong> <%= project.student_names %></p>
        <a href="/update-project/<%= project.id %>" class="button">Update The Project</a>
    </li>
<% }) %>
</ul>
<a href="/" class="submit-new-project-button">Submit a New Project</a>
    </div>
</body>
</html>
